<!DOCTYPE html>
<html>
<head>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  
  <title>Single Page Application</title>
</head>


<!-- Layout di pagina ------------------------------------------------------->

<body>
  <div id="pag1">
    <div id="riga1">
        
        <h1>INSERISCI NUOVO ALUNNO</h1>
        
        <input  id="campoTextNumReg" type="text" name="numeroRegistro" placeholder="Numero registro"/><br><br>
        <input  id="campoTextNome" type="text" name="nome" placeholder="Nome"/><br><br>
        <input  id="campoTextCognome" type="text" name="cognome" placeholder="Cognome"/><br><br>
        <input  id="campoTextAnnoNascita" type="text" name="annoNascita" placeholder="Anno di nascita"/><br><br>
        <button id="leggiCampoTextRegistrazione" > REGISTRATI nuovo </button><br><br>
        <div id="campoText2-div">
      
        </div>
        
        <h1>TROVA NUMERO REGISTRO</h1>
        
        <input  id="campoText1" type="text" name="numeroReg" placeholder="Numero registro"/><br><br>
        <button id="leggiCampoText1" > INVIA </button>
    </div>
    <div id="h3_2">
      
    </div>
    <div id="campoText1-div">
      
    </div>
    
  </div>
    
  <!-- Sezione Template ----------------------------------------------------->
  <!-- quando saranno un numero sufficinte evidenziamo -->
    
  <script id="aProductTemplate" type="text/x-jquery-tmpl">
      
  </script>
  
  <!-- fine Sezione Template ------------------------------------------------>
  
  
  <!--  sezione script javascript  ------------------------------------------>
  
  <script src="/static/js/jquery-2.2.3.min.js"></script>
  <script src="/static/js/jquery.tmpl.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/app.js"></script>
</body>
</html>

